body {
	margin: 0;
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}

canvas {
	background: gold;
	border: 20px solid #4CAF50;
	touch-action: none;
	/* забороняє прокрутку по канві */
}

#game {
	width: 80%;
	height: 80%;
	max-width: 400px;
	max-height: 400px;
	display: block;
}


/* Модальне вікно */
.modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222;
	padding: 30px 40px;
	border: 2px solid #FFD700;
	color: #FFD700;
	font-family: Arial;
	text-align: center;
	border-radius: 12px;
	z-index: 1000;
	min-width: 240px;
}

#game-over-modal {
	position: absolute;
	/* поверх канви */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(23, 3, 248, 0.8);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
	padding: 20px 30px;
	border-radius: 10px;
	text-align: center;
	display: none;
	/* ховаємо спочатку */
	z-index: 10;
	/* поверх канви */
	color: #fff;
}

.modal-text {
	font-size: 20px;
	margin-bottom: 16px;
}

.btn {
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

.btn.gold {
	background: #FFD700;
}

.btn.gray {
	background: #555;
	color: white;
}

.btn.focused {
	outline: 5px solid #ffffff;
}