body {
	margin: 0;
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}

canvas {
	background: gold;
	border: 2px solid #4CAF50;
}

/* Модальне вікно */
.modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222;
	padding: 30px 40px;
	border: 2px solid #FFD700;
	color: #FFD700;
	font-family: Arial;
	text-align: center;
	border-radius: 12px;
	z-index: 1000;
	min-width: 240px;
}

.modal-text {
	font-size: 20px;
	margin-bottom: 16px;
}

.btn {
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

.btn.gold {
	background: #FFD700;
}

.btn.gray {
	background: #555;
	color: white;
}

.btn.focused {
	outline: 2px solid #fff;
}